# Laravel
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# Environment
.env
.env.backup
.env.production

# Composer
/vendor
/composer.lock

# Node
/node_modules
/public/build
/public/hot
/public/storage
/package-lock.json
yarn.lock

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# IDEs & Editors
/.idea
/.vscode
/.fleet
/.nova
/.zed

# OS
.DS_Store
Thumbs.db

# Others
Homestead.yaml
Homestead.json
*.log
auth.json
